main {
	margin: 0 auto;
	max-width: 90%;
  padding: 50px 30px;
}

:root {
  --primary: #623caf;
  --secondary: #32385D;
  --tertiary: #0f0533;
  --gradient: linear-gradient(90deg, #8cd6c8 0%, #9FACE6 100%);
  
  --revGradient:linear-gradient(119deg, #74EBD5 0%, #9FACE6 100%);
  
  
  --light: #fafafa;
  --dark: #0f0a11;
  --darker: #0a0a0a;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(2.5rem * 1.5);
  --spacing-two: calc(3rem);
  --spacing-five: calc(1rem);

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.project-icon{
  font-size: 25px; 
  text-decoration: none;
}

#about {
    display: flex;
    margin: 5px;
    background: var(--gradient);
}

.about-div{
  margin: 5rem;
  align-items: center;
}

h1 {
  font-style: bold;
  font-style: 30px;
}

.about-container {
  margin: 5px;
  margin-left: 65px;
  text-align: center;
  line-height: 1.5;
  width: 90%;
  display: inline-block;
}

.bio-content{
  display: flex;
  display: table-cell;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.Bio, .Contact, .Portfolio {
  border-top: 2px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8vw;
}

 .pfp-div{
  display: flex;
  justify-content: center;
  align-items: center;
} 

.pfp-div img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
    margin-bottom: 3rem;
}

figcaption{
  padding: .75rem;
  font-size: 1.25rem;
}

/* #box{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 300px;
  color: white;
  font-family: 'Raleway';
  font-size: 2.5rem;
} */

.resume-section{
  border-top: 2px solid;
  padding: 35px;
}

html,
body {
  min-height: 100%;
}

body {
  display: block;
  background: var(--gradient); 
  color: var(--light);
  font-size: 18px;
  letter-spacing: .1em;
  font-weight: 550;
  line-height: 1.5;
  font-family:'Courier New', Courier, monospace;
}

.section-title{
  border-bottom: 2px var(--light);
  font-style: bold;
}

a {
  color: var(--tertiary);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: none;
}

nav a:hover {

  text-decoration: none;
}

header a {
  color: var(--light);
}

.navbar-container{
  align-items: flex-end;
}



button {
  font-size: 1rem;
  color: var(--light);
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: .25rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: var(--secondary);
}

button:hover {
  background-color: var();
}

button[disabled] {
  cursor: default;
  opacity: .8;
}

 img {
  max-width: 15%;
} 

.pfp{
  clip-path: circle(50% at 50% 50%);
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
  border: 3px solid #0e080d;
  background-color:  #b39baf;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}


nav  li {
  cursor: progress;
}

header {
  background: var(--dark);
  display: block;
  justify-content: space-between;
  flex-wrap: wrap;
}

header h1 {
  color: var(--primary);
  font-weight: bold;
  font-size: 36px;
  margin: 0;
}

header nav ul li a{
  padding: 10px 25px;
}

header nav {
  display: flex;
  margin: 10px 0px;
  flex-direction: row-reverse;
} 

.navbar-container ul {
  /* display: flex; */
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  display: block;
  list-style-type: disc;
}

.navbar-container ul li {
  display: inline-block;
  list-style-type: none;
  font-size: 14px;
  margin: 0px;
  padding: 4px;
}

/* .hero {
  margin: inherit;
  padding: 50px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  background-attachment: fixed;
  background-position: 80%;
} */

.navbar-container ul li a {
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  text-shadow: var(--statement);
}

textarea {
	width: 600px;
	height: 120px;
	border: 3px solid #0e080d;
	padding: 5px;
	border: 3px solid;
  background-color:  #b39baf;
}


.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.flex-row {
  display: flex;
  align-items: center;
  border-right: 2px black solid;
}

.row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -22px;
  margin-left: -22px;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}


.my-1 {
  margin-top: var(--spacing-one);
  margin-bottom: var(--spacing-one);
}

.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}


.img-thumbnail {
  width: auto;
  height: 300px;
  margin-bottom: 50px;
  cursor: pointer;
}

a {
	border-radius: 5px;
	color: var(--primary);
	font-weight: 600;
	padding: 2px 4px;
	margin-left: -2px;
	margin-right: -2px;
	
}

.navActive {
  color: var(--secondary);
}

.resumeActive {
  color: var(--secondary);
}

.pfp-div{
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-left: 25rem;
  margin-top: 20%; */
}

.portfolio-section{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background: var(--revGradient);
  padding: 6rem 6rem;
}

.projects {
  display: flex;
  flex-wrap: wrap;
}

.project-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border-top: 2px solid;
}

.project {
  flex-grow: 4;
  align-self: auto;
}

.captions {
  font-size: inherit;
}

footer {
  display: flex;
  flex-wrap: wrap;
  padding: 40px;
  justify-content: center;
}

footer ul {
  font-size: 25px;
}

* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

/* body {
  font-family: Lato, Helvetica, Arial, sans-serif;
  background: #eee;
} */

a {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
}


/*======================================================
                          Navbar
  ======================================================*/
#navbar {
  /* background: white; */
  color: rgb(0, 3, 7);
  position: fixed;
  top: 0;
  height: 60px;
  line-height: 60px;
  width: 100%;
  z-index: 10;
}

.nav-wrapper {
  margin: auto;
  text-align: center;
  width: 70%;
} @media(max-width: 768px) {
    .nav-wrapper {
      width: 90%;
    }
  } @media(max-width: 638px) {
      .nav-wrapper {
        width: 100%;
      }
    } 


.logo {
  float: left;
  margin-left: 28px;
  font-size: 1.5em;
  height: 60px;
  letter-spacing: 1px;
  text-transform: uppercase;
} @media(max-width: 768px) {
    .logo {
/*       margin-left: 5px; */
    }
  }

#navbar ul {
  display: inline-block;
  float: right;
  list-style: none;
  /* margin-right: 14px; */
  margin-top: -2px;
  text-align: right;
  transition: transform 0.5s ease-out;
  -webkit-transition: transform 0.5s ease-out;
} @media(max-width: 640px) {
    #navbar ul {
      display: none;
    }
  } @media(orientation: landscape) {
      #navbar ul {
        display: inline-block;
      }
    }

#navbar li {
  display: inline-block;
}

#navbar li a {
  color: rgb(1, 6, 10);
  display: block;
  font-size: 0.7em;
  height: 50px;
  letter-spacing: 1px;
  margin: 0 20px;
  padding: 0 4px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

#navbar li a:hover {
  /* border-bottom: 1px solid rgb(28, 121, 184); */
  color: var(--primary);
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
}

/* Animated Bottom Line */
#navbar li a:before, #navbar li a:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 1px;
  bottom: -1px;
  background: rgb(13, 26, 38);
}

#navbar li a:before {
  left: 0;
  transition: 0.5s;
}

#navbar li a:after {
  background: rgb(13, 26, 38);
  right: 0;
  /* transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1); */
}

#navbar li a:hover:before {
  background: rgb(13, 26, 38);
  width: 100%;
  transition: width 0.5s cubic-bezier((0.22, 0.61, 0.36, 1));
}

#navbar li a:hover:after {
  background: transparent;
  width: 100%;
  /* transition: 0s; */
}

/*======================================================
                    Mobile Menu Menu Icon
  ======================================================*/
@media(max-width: 640px) {
  .menuIcon {
    cursor: pointer;
    display: block;
    position: fixed;
    right: 15px;
    top: 20px;
    height: 23px;
    width: 27px;
    z-index: 12;
  }

  /* Icon Bars */
  .icon-bars {
    background: rgb(13, 26, 38);
    position: absolute;
    left: 1px;
    top: 45%;
    height: 2px;
    width: 20px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  } 

  .icon-bars::before {
    background: rgb(13, 26, 38);
    content: '';
    position: absolute;
    left: 0;
    top: -8px;
    height: 2px;
    width: 20px;
/*     -webkit-transition: top 0.2s ease 0.3s;
    transition: top 0.2s ease 0.3s; */
    -webkit-transition: 0.3s width 0.4s;
    transition: 0.3s width 0.4s;
  }

  .icon-bars::after {
    margin-top: 0px;
    background: rgb(13, 26, 38);
    content: '';
    position: absolute;
    left: 0;
    bottom: -8px;
    height: 2px;
    width: 20px;
/*     -webkit-transition: top 0.2s ease 0.3s;
    transition: top 0.2s ease 0.3s; */
    -webkit-transition: 0.3s width 0.4s;
    transition: 0.3s width 0.4s;
  }

  /* Bars Shadows */
  .icon-bars.overlay {
    background: rgb(97, 114, 129);
    background: rgb(183, 199, 211);
    width: 20px;
    animation: middleBar 3s infinite 0.5s;
    -webkit-animation: middleBar 3s infinite 0.5s;
  } @keyframes middleBar {
      0% {width: 0px}
      50% {width: 20px}
      100% {width: 0px}
    } @-webkit-keyframes middleBar {
        0% {width: 0px}
        50% {width: 20px}
        100% {width: 0px}
      }

  .icon-bars.overlay::before {
    background: rgb(97, 114, 129);
    background: rgb(183, 199, 211);
    width: 10px;
    animation: topBar 3s infinite 0.2s;
    -webkit-animation: topBar 3s infinite 0s;
  } @keyframes topBar {
      0% {width: 0px}
      50% {width: 10px}
      100% {width: 0px}
    } @-webkit-keyframes topBar {
        0% {width: 0px}
        50% {width: 10px}
        100% {width: 0px}
      }

  .icon-bars.overlay::after {
    /* background: rgb(97, 114, 129);
    background: rgb(183, 199, 211); */
    width: 15px;
    animation: bottomBar 3s infinite 1s;
    -webkit-animation: bottomBar 3s infinite 1s;
  } @keyframes bottomBar {
      0% {width: 0px}
      50% {width: 15px}
      100% {width: 0px}
    } @-webkit-keyframes bottomBar {
        0% {width: 0px}
        50% {width: 15px}
        100% {width: 0px}
      }


  /* Toggle Menu Icon */
  .menuIcon.toggle .icon-bars {
    top: 5px;
    transform: translate3d(0, 5px, 0) rotate(135deg);
    transition-delay: 0.1s;
    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .menuIcon.toggle .icon-bars::before {
    top: 0;
    transition-delay: 0.1s;
    opacity: 0;
  }

  .menuIcon.toggle .icon-bars::after {
    top: 10px;
    transform: translate3d(0, -10px, 0) rotate(-270deg);
    transition-delay: 0.1s;
    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .menuIcon.toggle .icon-bars.overlay {
    width: 20px;
    opacity: 0;
    -webkit-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
  }
}

/*======================================================
                   Responsive Mobile Menu 
  ======================================================*/
.overlay-menu {
  /* background: lightblue; */
  color: rgb(13, 26, 38);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 15px;
  transform: translateX(-100%);
  width: 100vw;
  height: 100vh;
  -webkit-transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
}

.overlay-menu ul, .overlay-menu li {
  display: block;
  position: relative;
}

.overlay-menu li a {
  display: block;
  font-size: 1.8em;
  letter-spacing: 4px;
/*   opacity: 0; */
  padding: 10px 0;
  text-align: right;
  text-transform: uppercase;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
/*   -webkit-transition: 0.2s opacity 0.2s ease-out;
  transition: 0.2s opacity 0.2s ease-out; */
}

.overlay-menu li a:hover,
.overlay-menu li a:active {
  color:var(--primary);
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

