main {
	margin: 0 auto;
	max-width: 90%;
  padding: 50px 30px;
}
:root {
  --primary: #623caf;
  --secondary: #32385D;
  --tertiary: #0f0533;
  --light: #fafafa;
  --dark: #0f0a11;
  --darker: #0a0a0a;
  --error: rgb(228, 46, 1);
  /*v nice spacing consts here*/
  --spacing-one: calc(2.5rem * 1.5);
  --spacing-two: calc(3rem);
  --spacing-five: calc(1rem);

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.project-icon{
  font-size: 25px; 
  text-decoration: none;
  /*transition: all .2s ease-in-out; /*duration prop*/
}

.about {
    display: block;
    margin: 5px;
}

h1 {
  font-style: bold;
  font-style: 30px;
}

.about-container {
  margin: 5px;
  margin-left: 65px;
  text-align: center;
  line-height: 1.5;
  width: 90%;
  display: inline-block;
}

.bio-content{
  display: flex;
  display: table-cell;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.Bio, .Contact, .Portfolio {
  border-top: 2px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8vw;
}

.pfp-div{
  display: flex;
  --borderWidth: 3px;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: var(--borderWidth);
  height: 100%;
}

.pfp-div img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 225px;
    width: 210px;
}

figcaption{
  padding: .75rem;
  font-size: 1.25rem;
}

#box{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 300px;
  color: white;
  font-family: 'Raleway';
  font-size: 2.5rem;
}

.pfp-div:after{
  content: '';
  position: absolute;
  top: calc(6.5 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(85% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #eea9df, #e367e7, #ba62d4, #553d94, #260e52, #4e0e4e, #a1388b, #88253a);
  

  border-top: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 15s ease alternate infinite;
  background-size: 300% 300%;
  border-radius: 2rem;
}

.resume-section{
  border-top: 2px solid;
  padding: 35px;
}

html,
body {
  min-height: 100%;
}

body {
  display: block;
  background: var(--dark);
  color: var(--light);
  font-size: 18px;
  letter-spacing: .1em;
  font-weight: 550;
  line-height: 1.5;
  font-family:'Courier New', Courier, monospace;
}

.section-title{
  border-bottom: 2px var(--light);
  font-style: bold;
}

a {
  color: var(--tertiary);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: none;
}

nav a:hover {
  background-color: var(--primary);
  text-decoration: none;
}

header a {
  color: var(--light);
}

.navbar-container{
  align-items: flex-end;
}



button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: var(--secondary);
}

button:hover {
  background-color: var();
}

button[disabled] {
  cursor: default;
  opacity: .8;
}

img {
  max-width: 100%;
}

.pfp{
  border-radius: 25rem;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
  border: 3px solid #0e080d;
  background-color:  #b39baf;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}


nav  li {
  cursor: progress;
}

header {
  background: var(--dark);
  display: block;
  justify-content: space-between;
  flex-wrap: wrap;
}

header h1 {
  color: var(--primary);
  font-weight: bold;
  font-size: 36px;
  margin: 0;
}

header nav ul li a{
  padding: 10px 25px;
}

header nav {
  display: flex;
  margin: 10px 0px;
  flex-direction: row-reverse;
} 

.navbar-container ul {
  /* display: flex; */
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  display: block;
  list-style-type: disc;
}

.navbar-container ul li {
  display: inline-block;
  list-style-type: none;
  font-size: 14px;
  margin: 0px;
  padding: 4px;
}

/* .hero {
  margin: inherit;
  padding: 50px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  background-attachment: fixed;
  background-position: 80%;
} */

.navbar-container ul li a {
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  text-shadow: var(--statement);
}

textarea {
	width: 600px;
	height: 120px;
	border: 3px solid #0e080d;
	padding: 5px;
	border: 3px solid;
  background-color:  #b39baf;
}


.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.flex-row {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}


.my-1 {
  margin-top: var(--spacing-one);
  margin-bottom: var(--spacing-one);
}

.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}


.img-thumbnail {
  width: auto;
  height: 300px;
  margin-bottom: 50px;
  cursor: pointer;
}

a {
	border-radius: 5px;
	color: var(--primary);
	font-weight: 600;
	padding: 2px 4px;
	margin-left: -2px;
	margin-right: -2px;
	
}

.navActive {
  color: var(--secondary);
}

.resumeActive {
  color: var(--secondary);
}

.pfp-div{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 25rem;
}

.portfolio-section{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.projects {
  display: flex;
  flex-wrap: wrap;
}

.project-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border-top: 2px solid;
}

.project {
  flex-grow: 4;
  align-self: auto;
}

.captions {
  font-size: inherit;
}

footer {
  display: flex;
  flex-wrap: wrap;
  padding: 40px;
  justify-content: center;
}

footer ul {
  font-size: 25px;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}